<div class="dialog-title" mat-dialog-title>
  <div>Réinitialiser le mot de passe</div>
  <button mat-icon-button mat-dialog-close>
    <fa-icon icon="times" size="lg"></fa-icon>
  </button>
</div>
<form [formGroup]="form"
      mat-dialog-content>
  <fieldset class="d-flex flex-column">
    <mat-form-field class="form-field">
      <mat-label>Email</mat-label>
      <input matInput name="email" formControlName="email" placeholder="Ex. tucos@tuc-triathlon.com" cdkFocusInitial>
      <mat-error *ngIf="form.get('email').errors">
        Adresse email invalide
      </mat-error>
    </mat-form-field>
  </fieldset>
</form>
<div class="dialog-actions" mat-dialog-actions>
  <button mat-flat-button
          color="primary"
          class="button button-primary"
          (click)="requestPwd()"
          [disabled]="!form.valid">
    Réinitialiser
  </button>
  <button mat-flat-button
          mat-dialog-close
          (click)="openLogin()"
          class="button button-primary">
    Retour
  </button>
</div>
