<div class="container bg-white h-100 p-3">
  <h2>Profile</h2>
  <form class="w-100" [formGroup]="userForm" (ngSubmit)="save()">
    <div class="row">
      <div class="col-6 d-flex flex-column align-items-stretch">
        <mat-form-field>
          <mat-label>Prénom</mat-label>
          <input matInput placeholder="Jean-Michel" formControlName="first_name">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Nom</mat-label>
          <input matInput placeholder="Tacos" formControlName="last_name">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input type="email" matInput placeholder="jm.tacos@tuc.fr" formControlName="email">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Présentation</mat-label>
          <textarea matInput placeholder="Présentation" formControlName="company"></textarea>
        </mat-form-field>
      </div>
      <div class="col-6 d-flex flex-column align-items-stretch">
        <h3>Avatar</h3>
<!--        <input #fileInput type="file" hidden (change)="preview($event.target.files)"/>-->
<!--        <div class="form-row flex-grow-1">-->
<!--          <img class="m-auto" [src]="imageUrl" height="300" *ngIf="imageUrl" alt="original-image">-->
<!--        </div>-->
<!--        <button mat-raised-button (click)="fileInput.click()">Parcourir</button>-->
      </div>
    </div>
    <button mat-raised-button color="primary" type="submit" [disabled]="!userForm.valid">Enregistrer</button>
  </form>
</div>
