<div class="container bg-white h-100">
  <h2>Page de test</h2>
  <div class="d-flex flex-row w-100 flex-wrap">
    <div class="col-xl-3 col-lg-4 col-md-6 col-12"><div class="mb-4 bg-danger square"></div></div>
    <div class="col-xl-3 col-lg-4 col-md-6 col-12"><div class="mb-4 bg-info square"></div></div>
    <div class="col-xl-3 col-lg-4 col-md-6 col-12"><div class="mb-4 bg-danger square"></div></div>
    <div class="col-xl-3 col-lg-4 col-md-6 col-12"><div class="mb-4 bg-info square"></div></div>
    <div class="col-xl-3 col-lg-4 col-md-6 col-12"><div class="mb-4 bg-danger square"></div></div>
    <div class="col-xl-3 col-lg-4 col-md-6 col-12"><div class="mb-4 bg-info square"></div></div>
    <div class="col-xl-3 col-lg-4 col-md-6 col-12"><div class="mb-4 bg-danger square"></div></div>
    <div class="col-xl-3 col-lg-4 col-md-6 col-12"><div class="mb-4 bg-info square"></div></div>
  </div>
</div>
