.label {
  margin-bottom: 5px;
  margin-top: 10px;
  font-weight: 500;
}

.msg {
  margin: 5px;
  padding: 10px;
  border-radius: 5px;
  font-weight: 500;
}

.error-msg {
  background-color: #FF2222;
  color: #FFFFFF;
}

.warning-msg {
  background-color: #FFEA13;
  color: #000000;
}

.info-msg {
  background-color: #00AAFF;
  color: #FFFFFF;
}
