:host {
  margin-bottom: 30px;
  border-bottom: solid 1px gray;
  padding-bottom: 30px;
  display: inline-flex;
}

.title {
  font-size: 20px;
}

.summary {
  margin: 20px 0;
}

.inline {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
}

img {
  max-height: 200px;
  max-width: 25%;
  margin-left: 20px;
}

button {
  align-self: center;
  margin-top: auto;
}
