<div [ngClass]="{'container-fluid': fullWidth, 'container': !fullWidth}" class="page">

  <ng-container *ngIf="page$ | async as page; else loader">
    <div [class.full]="fullScreen">
      <h1 class="page-title" [hidden]="fullScreen">
        <fa-icon *ngIf="page.icon" [icon]="page.icon" class="mr-3"></fa-icon>
        <span>{{page.title}}</span>
      </h1>
      <div class="page-image mb-2 text-center" *ngIf="page.hasImageLoaded">
        <youtube-player *ngIf="page.image.type === 'embed/youtube'"
                        [videoId]="page.image.embed"
                        height="300"
                        width="600"
        ></youtube-player>
        <img *ngIf="page.image.type !== 'embed/youtube'" [src]="page.image.location" alt="page-picture" class="img-fluid mx-auto d-block page-image"/>
      </div>
      <ng-container *ngTemplateOutlet="pageButtonBarTpl ? pageButtonBarTpl : defaultButtonBar">
      </ng-container>
      <ng-template #defaultButtonBar>
        <div class="d-inline-block">
          <button *ngIf="fullScreen" mat-stroked-button (click)="location.back()" class="mr-2">
            <fa-icon icon="chevron-left" size="lg" class="mr-2"></fa-icon>Retour
          </button>
          <button mat-stroked-button [matMenuTriggerFor]="documents" class="mr-2" *ngIf="page.files.length">
            <fa-icon icon="chevron-down" size="lg" class="mr-2"></fa-icon>
            Documents à télécharger
            <mat-menu #documents="matMenu">
              <a *ngFor="let file of page.files" mat-menu-item [href]="file.location" target="_blank">
                <fa-icon [icon]="file.getIcon" size="lg" class="mr-2"></fa-icon>{{file.title}}
              </a>
            </mat-menu>
          </button>

          <div *ngFor="let page of childPage$ | async" class="d-inline-block">
            <button *ngIf="!(page.url |isUrl)" mat-stroked-button [routerLink]="['/', page.url]" [queryParams]="queryParams" class="mr-2">
              <fa-icon [icon]="page.icon" size="lg" class="mr-2"></fa-icon>{{page.title}}
            </button>

            <a *ngIf="page.url | isUrl" [href]="page.url" target="_blank">
              <button mat-stroked-button class="mr-2">
                <fa-icon [icon]="page.icon" size="lg" class="mr-2"></fa-icon>{{page.title}}
              </button>
            </a>
          </div>

          <button
            mat-stroked-button
            *ngFor="let resource of page.resources"
            [routerLink]="['/', 'page', resource.name, queryParams]"
            class="mr-2">
            {{resource.traduction || resource.name}}
          </button>

          <button mat-stroked-button [routerLink]="['/', 'faq', queryParams]" class="mr-2" [hidden]="fullScreen">
            <fa-icon icon="question-circle" size="lg" class="mr-2"></fa-icon>FAQ
          </button>
        </div>
      </ng-template>
      <div class="page-description mt-1 roboto" [innerHTML]="page.description | safeHtml">
      </div>
      <ng-container *ngTemplateOutlet="pageContentTpl ? pageContentTpl : defaultContent"></ng-container>
      <ng-template #defaultContent>
        <div *ngIf="resource" class="mt-2">
          <mat-chip-list selectable *ngIf="filters.length">
            <mat-chip
              [selected]="!selectedFilter"
              (click)="selectedFilter = null">
              All
            </mat-chip>
            <mat-chip
              *ngFor="let filter of filters"
              [selected]="selectedFilter === filter"
              (click)="selectedFilter = filter">
              {{filter}}
            </mat-chip>
          </mat-chip-list>
          <div class="container-fluid pt-4 card-group">
            <app-card class="col-lg-4 col-md-6 col-sm-12 p-1" *ngFor="let card of cards$ | async | cardFilter : selectedFilter" [card]="card"></app-card>
          </div>
        </div>
        <div *ngIf="id">
          <app-field *ngFor="let field of page.fields" [field]="field">
          </app-field>
        </div>
      </ng-template>
    </div>
  </ng-container>

  <ng-template #loader>
    <div  #loader class="w-100 flex-grow-1 justify-content-center align-items-center d-flex">
      <mat-spinner color="primary"></mat-spinner>
    </div>
  </ng-template>
</div>

