<div [ngClass]="{'container-fluid': fullWidth, 'container': !fullWidth}" class="page">

  <ng-container *ngIf="page$ | async as page; else loader">
      <h1 class="page-title">
        <fa-icon *ngIf="page.icon" [icon]="page.icon" class="mr-3"></fa-icon>
        <span>{{page.title}}</span>
      </h1>
      <div class="page-image mb-2" *ngIf="page.hasImageLoaded">
        <img [src]="page.image.location" alt="page-picture" class="img-fluid mx-auto d-block"/>
      </div>
      <ng-container *ngTemplateOutlet="pageButtonBarTpl ? pageButtonBarTpl : defaultButtonBar">
      </ng-container>
      <ng-template #defaultButtonBar>
        <div class="d-inline-block">
          <button mat-stroked-button [matMenuTriggerFor]="documents" class="mr-2" *ngIf="page.files.length">
            <fa-icon icon="chevron-down" size="lg" class="mr-2"></fa-icon>
            Documents
            <mat-menu #documents="matMenu">
              <a *ngFor="let file of page.files" mat-menu-item [href]="file.location" target="_blank">
                <fa-icon [icon]="file.getIcon" size="lg" class="mr-2"></fa-icon>{{file.title}}
              </a>
            </mat-menu>
          </button>

          <button *ngFor="let page of childPage$ | async" mat-stroked-button [routerLink]="['/', page.url]" class="mr-2">
            <fa-icon [icon]="page.icon" size="lg" class="mr-2"></fa-icon>{{page.title}}
          </button>

          <button mat-stroked-button *ngFor="let resource of page.resources" [routerLink]="['/', 'page', resource]" class="mr-2">
            {{resource}}
          </button>

          <button mat-stroked-button [routerLink]="['/', 'faq']" class="mr-2">
            <fa-icon icon="question-circle" size="lg" class="mr-2"></fa-icon>FAQ
          </button>
        </div>
      </ng-template>
    <div class="page-description mt-1" [innerHTML]="page.description | safeHtml">
    </div>
    <div  [class.full]="fullScreen">
      <ng-container *ngTemplateOutlet="pageContentTpl ? pageContentTpl : defaultContent"></ng-container>
    <ng-template #defaultContent>
      <div *ngIf="resource" class="container-fluid pt-4 card-group">
        <app-card class="col-lg-4 col-md-6 col-sm-12 p-1" *ngFor="let card of cards$ | async" [card]="card"></app-card>
      </div>
      <div *ngIf="id">
        <app-field *ngFor="let field of page.fields" [field]="field">
        </app-field>
      </div>
    </ng-template>
    </div>
  </ng-container>

  <ng-template #loader>
    <div  #loader class="w-100 flex-grow-1 justify-content-center align-items-center d-flex">
      <mat-spinner color="primary"></mat-spinner>
    </div>
  </ng-template>
</div>

