<app-directus-page url="training"></app-directus-page>
<div *appDirectusPageButtonBar>
  <button mat-flat-button [routerLink]="['/', 'faq', {tag: 1}]">
    <fa-icon icon="question-circle" size="lg"></fa-icon>
  </button>
</div>
<div *appDirectusPageContent>
  <h2>Calendrier des entrainements</h2>
  <full-calendar
    #calendar
    defaultView="dayGridWeek"
    locale="fr"
    [firstDay]="1"
    [header]="{
        left: 'prev,today,next',
        center: '',
        right: 'title'
      }"
    [height]="200"
    [plugins]="calendarPlugins"
    [googleCalendarApiKey]="googleApiKey"
    [events]="events"
    (dateClick)="handleDateClick($event)"
  ></full-calendar>
</div>
<div class="container-fluid pt-4 card-group justify-content-center">
  <app-training-card *ngFor="let training of trainingList"
                     class="col-lg-4 col-md-6 col-sm-12"
                     [training]="training">
  </app-training-card>
</div>
