<mat-toolbar class="header" color="primary" [hidden]="fullScreen">
  <button mat-icon-button (click)="menu.toggle()"><fa-icon icon="bars" size="lg"></fa-icon></button>
  <img src="../assets/logo_tuc.jpg" height="50" alt="Logo TUC Triathlon" [routerLink]="['/']"/>
  <button *ngIf="!isLogged()" mat-icon-button (click)="openDialog('login')" class="header-right"><fa-icon icon="user" size="lg"></fa-icon></button>
  <button *ngIf="isLogged()" mat-icon-button [matMenuTriggerFor]="userMenu" class="header-right"><fa-icon icon="user" size="lg"></fa-icon></button>
  <mat-menu #userMenu="matMenu">
    <button mat-menu-item routerLink="user">
      <fa-icon icon="user" class="col-2 mr-2" size="lg"></fa-icon>
      <span>Profil</span>
    </button>
    <button mat-menu-item (click)="logout()">
      <fa-icon icon="power-off" class="col-2 mr-2" size="lg"></fa-icon>
      <span>Déconnexion</span>
    </button>
  </mat-menu>

</mat-toolbar>
<mat-sidenav-container class="side-menu">
  <mat-sidenav #menu mode="over" fixedInViewport>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="menu.toggle()"><fa-icon icon="times" size="lg"></fa-icon></button>
      <img src="../assets/logo_tuc.jpg" height="50" alt="Logo TUC Triathlon"/>
    </mat-toolbar>
    <mat-nav-list>
      <ng-container *ngFor="let item of menuItems$ | async | sortBy : ['order']">
      <a *ngIf="!(item.url | isUrl)" mat-list-item
         [routerLinkActive]="'mat-menu-item-highlighted'"
         [routerLink]="item.url"
         (click)="menu.toggle()">
          <fa-icon *ngIf="item.icon" [icon]="item.icon" class="col-2 mr-2" size="lg"></fa-icon>
          <div class="align-items-center">{{item.title}}</div>
      </a>
        <a *ngIf="item.url | isUrl" mat-list-item
           [href]="item.url"
           target="_blank"
           (click)="menu.toggle()">
          <fa-icon *ngIf="item.icon" [icon]="item.icon" class="col-2 mr-2" size="lg"></fa-icon>
          <div class="align-items-center">{{item.title}}</div>
        </a>
      </ng-container>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="w-100 d-flex flex-column">
    <div id="app-content" class="w-100 flex-grow-1">
      <button *ngIf="!fullScreen" id="back-button" mat-fab color="primary" (click)="navigateBack()">
        <fa-icon icon="chevron-left"></fa-icon>
      </button>
      <router-outlet></router-outlet>
    </div>
    <div *ngIf="!fullScreen" class="h-auto row w-100 m-0">
      <div class="col-md-5 col-sm-12 p-3 d-inline-flex justify-content-around">
        <div *ngFor="let partenaire of partenaires$ | async; index as i" class="footer-logo" [routerLink]="['page', 'partenaire']">
          <img class="footer-img" *ngIf="partenaire.logo && displayIndex(i)" [src]="partenaire.logoFile.location" [alt]="partenaire.nom">
        </div>
      </div>
      <div class="col-md-6 col-sm-12 p-3 text-center">
        TUC TRIATHLON<br/>
        Stade Universitaire Daniel Faucher<br/>
        11 Allée du Professeur Camille Soula<br/>
        31400 TOULOUSE
      </div>
    </div>
  </mat-sidenav-content>

</mat-sidenav-container>
