<mat-toolbar class="header" color="primary" [hidden]="fullScreen">
  <button mat-icon-button (click)="menu.toggle()"><fa-icon icon="bars" size="lg"></fa-icon></button>
  <img src="../assets/logo_tuc.jpg" height="50" alt="Logo TUC Triathlon" [routerLink]="['/']"/>
  <button *ngIf="!isLogged()" mat-icon-button (click)="openDialog('login')" class="header-right"><fa-icon icon="user" size="lg"></fa-icon></button>
  <button *ngIf="isLogged()" mat-icon-button [matMenuTriggerFor]="userMenu" class="header-right"><fa-icon icon="user" size="lg"></fa-icon></button>
  <mat-menu #userMenu="matMenu">
    <button mat-menu-item (click)="logout()">
      <fa-icon icon="power-off" size="lg"></fa-icon>
      <span>Déconnexion</span>
    </button>
  </mat-menu>

</mat-toolbar>
<mat-sidenav-container class="side-menu">
  <mat-sidenav #menu mode="over" fixedInViewport>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="menu.toggle()"><fa-icon icon="times" size="lg"></fa-icon></button>
      <img src="../assets/logo_tuc.jpg" height="50" alt="Logo TUC Triathlon"/>
    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item
         *ngFor="let item of menuItems$ | async | sortBy : ['order']"
         [routerLinkActive]="'mat-menu-item-highlighted'"
         [routerLink]="item.url"
         (click)="menu.toggle()">
          <fa-icon *ngIf="item.icon" [icon]="item.icon" class="mr-2" size="lg"></fa-icon>
          <div class="align-items-center">{{item.title}}</div>
      </a>
      <a class="align-items-center" mat-list-item href="http://www.triathlondetoulouse.com" target="_blank" (click)="menu.toggle()">
        <fa-icon icon="tdt" class="mr-2" size="lg"></fa-icon>
        Triathlon de Toulouse
      </a>
      <a class="align-items-center" mat-list-item href="https://absoluraid.wixsite.com/absoluraid" target="_blank" (click)="menu.toggle()">
        <fa-icon icon="absolu-raid" size="lg"></fa-icon>
        Absolu raid
      </a>
      <a class="align-items-center" mat-list-item href="http://www.uncu.fr/les-clubs/tuc" target="_blank" (click)="menu.toggle()">
        <fa-icon icon="tuc-omnisport" class="mr-2" size="lg"></fa-icon>
        TUC Omnisport
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="w-100 d-flex flex-column">
    <div id="app-content" class="w-100 flex-grow-1">
      <div class="position-absolute" style="right: 0">
        <div class="alert alert-danger" *ngFor="let error of errors">{{error.message}}</div>
      </div>
      <button id="back-button" mat-fab color="primary" (click)="navigateBack()">
        <fa-icon icon="chevron-left"></fa-icon>
      </button>
      <router-outlet></router-outlet>
    </div>
    <mat-toolbar class="footer h-auto" [class.d-inline-flex]="!fullScreen" [hidden]="fullScreen">
      <div class="w-50 d-inline-flex">
        <div *ngFor="let partenaire of partenaires$ | async; index as i" class="footer-logo" [routerLink]="['page', 'partenaire']">
          <img class="footer-img" *ngIf="partenaire.logo && displayIndex(i)" [src]="partenaire.logoFile.location" [alt]="partenaire.nom">
        </div>
      </div>
      <div class="text-center w-50">
        TUC TRIATHLON<br/>
        Stade Universitaire Daniel Faucher<br/>
        11 Allée du Professeur Camille Soula<br/>
        31400 TOULOUSE
      </div>
    </mat-toolbar>
  </mat-sidenav-content>

</mat-sidenav-container>
