:host {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  min-height: 100%;
}

.footer {
  margin-top: auto;
}

.side-menu {
  flex: 1;
  padding: 0;
}

.background {
  background-image: url("../assets/fond_tuc.jpg");
  background-repeat:no-repeat;
  background-size:cover;
}

#app-content {
  background: #FFFFFF;
  padding-top: 20px;
}
