:host {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  min-height: 100%;
}

.footer {
  margin-top: auto;
}

.side-menu {
  flex: 1;
}

.background {
  background-image: url("../assets/fond_tuc.jpg");
  background-repeat:no-repeat;
  background-size:cover;
}

#app-content {
  margin: 20px auto;
  padding: 30px;
  background: white;
  width: 80%;
  min-width: 450px;
}
