<div class="container bg-white p-2 h-100">
  <h1>Nouveau mot de passe</h1>
  <form [formGroup]="pwdForm" (ngSubmit)="resetPwd()">
    <fieldset class="d-flex flex-column w-50">
      <mat-form-field class="form-field">
        <mat-label>Nouveau mot de passe</mat-label>
        <input matInput name="password" formControlName="pwd"
               type="password">
      </mat-form-field>
      <mat-form-field class="form-field">
        <mat-label>Confirmer le mot de passe</mat-label>
        <input matInput name="password" formControlName="pwdConfirm"
               type="password">
      </mat-form-field>
    </fieldset>
    <mat-error *ngIf="pwdForm.hasError('different')">
      Les mots de passe ne sont pas identiques
    </mat-error>
    <button mat-flat-button
            color="primary"
            class="button button-primary"
            type="submit"
            [disabled]="!pwdForm.valid">Enregistrer</button>
  </form>
</div>
