/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
* {
  font-family: Roboto, "Helvetica Neue", sans-serif !important;
}
button:focus, div:focus, img:focus {
  outline: none;
}

.dialog-title, .dialog-actions {
  display: inline-flex !important;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.no-result {
  width: 100%;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: #5b605b;
  padding: 50px;
}

.square::before{
  content: "";
  display: block;
  padding-top: 100%;
}
.square-content{
  position:  absolute;
  top: 0.25rem;
  left: 0.25rem;
  bottom: 0.25rem;
  right: 0.25rem;
}
