<div class="tuc-card" [class.rotated]="rotated" (click)="rotate()">
  <img *ngIf="card.image && !card.isGpx" [src]="card.image" class="front" alt="image">
  <app-map *ngIf="card.image && card.isGpx" [gpx]="card.image.split('/').reverse()[0]" [move]="false"></app-map>
  <div class="tuc-card-body no-rotate">
    <h2 class="tuc-card-title"><fa-icon *ngIf="card.icon" [icon]="card.icon"></fa-icon> {{card.title}}</h2>
    <div class="tuc-card-subtitle mb-2 text-muted back">
      <div>{{card.subtitleLeft}}</div>
      <div>{{card.subtitleRight}}</div>
    </div>
    <div class="tuc-card-text back" [innerHTML]="card.summary"></div>
    <div *ngIf="card.routerLink" class="tuc-card-link back" [routerLink]="card.routerLink">
      En savoir plus {{card.isGpx}}
    </div>
  </div>
</div>
